body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin:0;
	background-color: #ccccff;
}
/*global */
.main {
	width:90%;
	margin: auto;
	overflow: hidden;
}

button{
	height: 37px;
	width: 100px;
	color: white;
	border: 0;
	background: orange;
	font-weight: bold;
}

/* header */
.head {
	background-color: #00001a;
	color: white;
	padding-top:30px;
	min-height: 70px;
	border-bottom: orange 10px solid;
}

.head a{
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
}

.head ul{
	margin: 0;
	padding: 0;
}

.head li{
	display:inline;
	float: left;
	padding: 0 15px 0 15px;
}

.head ul{
	margin:0; 
	padding:0;
}

.head h1{
	float: left;
	margin: 0;
}

.head nav{
	float: right;
	margin-top: 13px;
}

.head .highlight, .head .current a{
	color: orange;
	font-weight: bold;
	display: inline;
}

.head a:hover{
	color: orange;
	font-weight:bold;
}

/* judul */

.box1{
	min-height: 430px;
	background:url('meme.png') no-repeat 0 -1050px;
	text-align: left;
	color: white;
}

.box1 h1{
	margin-top: 200px;
	margin-bottom: 0;
	font-size: 40px;
	font-weight: bold;
}

.box1 h4{
	margin-top: -5px;
	margin-left: 17px;
	font-size: 19px;
	font-weight:bold;
}

.kritik {
	background-color: #00001a;
	padding: 10px;
	color: white;
}

.kritik h1{
	float: left;
	font-size: 25px
}

.kritik form{
	float: right;
	padding-top: 23px;
}

.kritik .main{
	width: 90%;

}

.kritik input{
	padding:5px;	
	height: 25px;
	width: 275px;
}